@use "_reset.scss";

$ff-paragraph: 'Alata', sans-serif;
$ff-header: 'Josefin Sans', sans-serif;


$primary-100: hsl(0, 0%, 0%);
$primary-200: hsl(0, 0%, 41%);
$primary-300: hsl(0, 0%, 55%);
$primary-900:hsl(0, 0%, 100%);

body{
    font-size: 16px;
    background-color: $primary-900;
}
// *{
//     outline: 1px solid lime;
// }
header{
    background-image: url(images/desktop/image-hero.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5%;
}


.topWrapper{
    width: 100%;
    justify-content: space-between;
    padding-inline: 10%;
    flex-direction: row;
    display: flex;
    img{
        margin-top: 5%;
    }
}

.primaryNavigation{
    width: fit-content;
    margin-top: 5%;
    margin-right: 10%;
}

.logo{
    width: 12vw;
    height: 2vw;

}

.navigationList{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.listItem{
    align-self: center;
    margin-inline: 5%;
    position: relative;
    a{
        font-family: $ff-paragraph;
        color: $primary-900;
        text-decoration: none;
    }
}

.listItem:hover,
.listItem:focus-within {
    .listItemLink::before{
       width: 50%;
    }
}

.listItemLink::before{
    content: '';
    width: 0%;
    height: 3px;
    background-color: $primary-900;
    position: absolute;
    bottom: -35%;
    left: 25%;
    transition: 200ms ease-in;
    transform-origin:center;
}
.heroSectionheading{
    font-family: $ff-header;
    text-transform: uppercase;
    color:$primary-900;
    font-size: clamp(2rem, 3vw, 8rem);
    width: 15ch;
    font-weight: 300;
    border: 2px solid $primary-900;
    padding: 2%;
    margin-left: 10vw;
    margin-block: 5%;
}







footer{
    background-color: $primary-100;
    color: $primary-900;
}




.monsterWrapper{
    background-image: url(images/desktop/image-interactive.jpg);
    background-repeat: no-repeat;
    width: 80%;
    margin-inline: 10%;
    margin-block:5%;
    display: flex;
    flex-direction: column;
    min-height: max-content;
    background-size: contain;
    background-position: left center;
    padding-block: 5%;
    position: relative;
    h2{
        font-family: $ff-header;
        font-weight: 300;
        font-size: clamp(1rem, 7vw, 3rem);
        width: 20ch;
        text-transform: uppercase;
    }
    p{
        width: 40ch;
        font-family: $ff-paragraph;
        font-size: clamp(0.5rem, 1vw, 3rem);
        opacity: 0.7;
        font-weight: 300;
    }
}

.textWrapper{
    background-color: $primary-900;
    padding: 7%;
   margin-left:auto ;
   //position: absolute;
   bottom: 0;
   right: 0;
   transform: translateY(40%);
}

.prePhotosSection{
    width: 80%;
    margin-inline: 10%;
    padding-top:10%;
    padding-bottom:5%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    h2{
        font-family: $ff-header;
        font-weight: 300;
        font-size: clamp(1rem, 4vw, 5rem);
        text-transform: uppercase;
    }
    button{
        border: 2px solid $primary-100;
        text-transform: uppercase;
        font-family: $ff-header;
        background-color: transparent;
        color: $primary-100;
        padding: .25em 2em;
        font-size: clamp(0.5rem, 2vw, 2rem);
        height: fit-content;
        text-align: center;
        &:hover,
        &:focus-within{
            border:2px solid $primary-100;
            background-color: $primary-100;
            color: $primary-900;
            transition: 500ms ease-in;
            cursor: pointer;
            transform-origin: center;
        }
    }
}



.photoWrapper{
    width: 80%;
    margin-inline: 10%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-bottom: 5%;
}

.photoRow{
    display: flex;
    flex-direction:row;
    gap: 35px;
}
.creation{
    background-repeat: no-repeat;
   
    color: $primary-900;
    font-family: $ff-header;
    text-transform: uppercase;
    background-size: cover;
    min-height: 10vh;
    aspect-ratio: 0.56/1;
    background-position: center center;
    flex-basis: 100%;
    position: relative;
    &:hover,
    &:focus-within{
        opacity: 0.5;
        cursor: pointer;
        transition: 500ms ease-in;
    }
    h3{
        padding: 10%;
        position: absolute;
        font-weight: 400;
        font-size: clamp(1rem, 4vw, 3rem);
        width: 100%;
        bottom:0;
        background-image: linear-gradient(0deg, rgba(0,0,0,) 0%,  transparent 100%);
    }
}

.earth{
    background-image: url(images/desktop/image-deep-earth.jpg);
}
.night{
    background-image: url(images/desktop/image-night-arcade.jpg);
}
.soccer{
    background-image: url(images/desktop/image-soccer-team.jpg);
}
.grid{
    background-image: url(images/desktop/image-grid.jpg);
}
.above{
    background-image: url(images/desktop/image-from-above.jpg);
}
.aurora{
    background-image: url(images/desktop/image-pocket-borealis.jpg);
}
.rover{
    background-image: url(images/desktop/image-curiosity.jpg);
}
.fisheye{
    background-image: url(images/desktop/image-fisheye.jpg);
}


footer{
    display: flex;
    flex-direction:column;
    width: 100%;
    align-items: center;
}

.closed{
    transform: translateX(100%);
}
.opened{
    transform: translateX(0%);
}

.footerWrapper{
    width: 80%;
    margin-inline: 10%;
    padding-block: 2%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    p{
        opacity: 0.5;
        font-family: $ff-paragraph;
        color: $primary-900;
        font-weight: 300;
    }
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: fit-content;
    gap: 25px;
}

.socialLinkFooter{
    width:fit-content;
}
.socialLinkImageFooter{
    position: relative;
    flex-grow: 1;
    aspect-ratio: 1/1;
}

// .socialLinkFooter:hover,
// .socialLinkFooter:focus{
//     .socialLinkImageFoote
// }
// .socialLinkImageFooter::before{
//     content: '';
//     width: 90%;
//     height: 3px;
//     background-color: $primary-900;
//     position: absolute;
//     bottom: -35%;
//     left: 25%;
//     transition: 200ms ease-in;
//     transform-origin:center;
// }



.secondaryNavigation{
    width: fit-content;
}
.footerNav{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    
}
.footerNavItem{
    padding-right: 10%;
     
 }
 .footerNavLink{
    color: white;
    font-family: $ff-paragraph;
    text-decoration: none;
    position: relative;
}
.footerNavItem:hover,
.footerNavItem:focus-within{
    .footerNavLink::before{
        width: 50%;
    }
}



.footerNavLink::before{
    content: '';
    width: 0%;
    height: 3px;
    background-color: $primary-900;
    position: absolute;
    bottom: -35%;
    left: 25%;
    transition: 200ms ease-in;
    transform-origin:center;
}

.burgerIcon{
    display: none;
    background: transparent;
    border: 0;
}
.mobileMonster{
    display: none;
}


.footerNavMobile{
    display: none;
}

.closed{
   transform: none;
}
.opened{
    transform: none;
}
@media only screen and (max-width:850px){
   
    .burgerIcon{
        display: block;
        position: absolute;
        z-index: 1000;
    }
    .closed{
        transform: translateX(100%) !important;
     }
     .opened{
         transform: translateX(0%) !important;
     }


    .navigationList{
        display:flex;
        flex-direction: column;
        background-color: black;
        position: fixed;
        z-index: 50;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        padding: 0;
        margin: 0;
        justify-content: center;
        transition: 500ms ease-in;
       .listItem{
        text-transform: uppercase;
        text-align: left;
        margin-right: auto;
        padding-block: 2%;
        a{
            font-weight: 300;
            text-align: left;
        }
       }
    }

    header{
        background-image: url(images/mobile/image-hero.jpg);
        .logo{
            width: 30vw;
            height: 5vw;
            z-index: 100;
        }
        align-items: center;
    }
    .heroSectionheading{
        font-size:clamp(1rem, 10vw, 3rem) ;
        margin-block: 50%;
        width: fit-content;
        padding: 5%;
        margin-inline: 5%;
    }
    main{
        width: 100%;
        margin-inline: 0;
        // *{
        //     outline: 1px solid lime;
        // }
    }
    .monsterWrapper{
        background-image: none;
        padding: 0;
        margin: 0;
        // /padding-inline: 5%;
        margin-inline: auto;
        justify-content: center;
        overflow: hidden;
        
    }
    .mobileMonster{
        display: block;
        margin-top: 10%;
    }
    .textWrapper{
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
        transform: translateY(0%);
        margin-block: 10%;
        h2{
            width: 100%;
            font-size: clamp(1rem, 8vw, 2rem);
            margin: 0;
            padding-block: 5%;
        }
        p{
            font-size: clamp(0.5rem, 4vw, 2rem);
            text-align: center;
            width: 100%;
            margin: 0;
        }
    }
    .prePhotosSection{
        padding-block: 5%;
        button{
            display: none;
        }
        text-align: center;
        h2{
            margin-inline:auto ;
            font-size: clamp(1rem, 9vw, 2rem);
        }
    }
    .photoWrapper{
        width: 90%;
        margin-inline:5%;
    }
    .photoRow{
        flex-direction: column;
    }

    .creation{
        width: 100%;
        aspect-ratio: 2.6/1;    
        position: relative;
            h3{
                background-image: none;
                position: absolute;
                height: 100%;
                width: 10ch;
                padding: 0;
                background-image:linear-gradient(90deg, rgba(0,0,0,) 0%,  transparent 100%) ;
                transform: translateY(0%);
                padding-top: 15%;
                padding-left:5%;
            }
    }
    .earth{
        background-image: url(images/mobile/image-deep-earth.jpg);
         
    }
    .night{
        background-image: url(images/mobile/image-night-arcade.jpg);
       
    }
    .soccer{
        background-image: url(images/mobile/image-soccer-team.jpg);
    }
    .grid{
        h3{
            width: 5ch;
        }
        background-image: url(images/mobile/image-grid.jpg);
    }
    .above{
        
        background-image: url(images/mobile/image-from-above.jpg);
    }
    .aurora{
        background-image: url(images/mobile/image-pocket-borealis.jpg);
    }
    .rover{
        background-image: url(images/mobile/image-curiosity.jpg);
    }
    .fisheye{
        background-image: url(images/mobile/image-fisheye.jpg);
    }


    footer{
        
        width: 100%;
        margin: 0;
        display: flex;
        // grid-template-columns: 1fr;
        // grid-auto-rows: auto;
        justify-content: center;
        // grid-template-areas:
        // "logo"
        // "footerNav"
        // "socials"
        // "copyright" ;
    }
    .footerWrapper{
        display: block;
        p{
            margin-inline: auto;
            text-align: center;
            padding-bottom: 10%;
        }
    }

    .footerNav{
        display: none;
    }
    .footerNavMobile{
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        
        .footerNavItem{
            font-size: clamp(0.5rem, 4vw, 2rem);
            font-weight: 300;
            padding-block: 2%;
        }
    }


    .bottomLogo{
        
        margin-inline: auto;
        width: 50%;
        padding-block: 10%;
    }
    
    .socials{
       
        margin-inline: auto;
        padding-block: 5%;
    }
    .copyright{
        
        margin-inline: auto;
        font-size: clamp(0.5rem, 3vw, 2rem);
    }
}


@media only screen and (min-width:800px)and (max-width:1600px){
    .creation{
        h3{
            font-size: clamp(1rem, 2vw, 3rem);
        }
    }



}

@media only screen and (min-width:800px)and (max-width:1200px){
    .textWrapper{
        transform: translateY(30%);
        padding:3vw;
        p{
            font-size: clamp(0.5rem, 1.5vw, 2rem);
        }
    }



}




@media only screen and (min-width:700px)and (max-width:850px){
    .creation{
        h3{
            font-size: clamp(1rem, 4vw, 2rem);
        }
    }
    .textWrapper{
        transform: translateY(0%);
        h2{
            font-size: clamp(1rem, 6vw, 4rem);
            padding: 0;
        }
        p{
            font-size: clamp(1rem, 2vw, 4rem);
        }
    }
    .prePhotosSection{
        h2{
            font-size: clamp(1rem, 6vw, 4rem);
        }
    }


}


@media only screen and (min-width:400px)and (max-width:700px){
    .textWrapper{
        p{
            font-size: clamp(1rem, 2vw, 4rem);
        }
    }
}